*.txt
*.png
*.csv

*.TMP

*.bak

lmcst_v1\.0/demo\.mp4

*.pyc

*.log
registry*

trigger\.sh

\.idea/

mediaTuning/com\.skt\.trtc\.sample_preferences\.xml

filebeat/filebeat-6\.1\.3-windows-x86_64/data/

*.apk

*\build\*

*\dist\*

*.spec

filebeat/filebeat-6\.3\.2-windows-x86_64/data/

filebeat/filebeat-6\.4\.0-windows-x86_64/data/
toolbox/win_batch/build/
toolbox/win_batch/dist/
filebeat/filebeat-6.4.2-windows-x86_64/data/
publicData/OwnerInfoService/seoul_700under_re.xlsx
