*.txt
*.png
*.csv

*.TMP

*.bak

lmcst_v1\.0/demo\.mp4

*.pyc

*.log
registry*

trigger\.sh

\.idea/

mediaTuning/com\.skt\.trtc\.sample_preferences\.xml

filebeat/filebeat-6\.1\.3-windows-x86_64/data/

*.apk

*\build\*

*\dist\*

*.spec
